@import url('https://fonts.googleapis.com/css?family=Exo:400,400i,500i,600i,700i,800i,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;

    --title-color: rgba(231, 231, 231, 1);
    --bg-color: rgba(23, 23, 25, 1);
    --btn-color: rgba(1, 182, 113, .7);
    --shapes-color: rgba(1, 216, 130, 1);
    --shapes-inside: rgba(1, 216, 130, .1);
    --shadow-color: rgba(180, 180, 180, .5);
    --text-color: rgba(180, 180, 180, 1);
    --hover-color: rgba(255, 255, 255, 1);

    --w-gr: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .1));
    --b-gr: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));

    --title-ff: 'Exo', sans-serif;
    --title-fst: italic;

    --p-ff: 'Montserrat', sans-serif;
    --p-fs: 1rem;
    --p-lh: 200%;

    --h1-fs: 4.5vw;
    --h1-fw: 500;

    --h2-fs: 3rem;
    --h2-fw: 400;
    --h2-lh: 3rem;

    --h3-fs: 1.5rem;
    --h3-fw: 500;
    
}

/* GLOBAL */

body {
    background-color: white;
    background-image: var(--w-gr);
}

a {
    font-family: var(--p-ff);
    font-size: var(--p-fs);
    color: var(--text-color);
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 300ms;
}

a:hover {
    color: var(--hover-color);
}

button {
    width: 200px;
    height: 50px;
    border: none;
    background-color: var(--btn-color);
    background-image: var(--b-gr);
    border-radius: 10px;
    font-family: var(--p-ff);
    font-size: var(--p-fs);
    color: var(--bg-color);
    font-weight: 500;
    font-style: italic;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 2rem 0 0;
    box-shadow: 0 5px 5px -5px var(--shadow-color);
    transition: box-shadow 300ms;
}

button:hover {
    box-shadow: 0 5px 10px -5px var(--shadow-color);
}

img {
    display: block;
}

/* HERO */

.hero {
    height: 100vh;
    background-image: url('images/hero-bg.jpg');
    background-size: calc(100vw - 40%);
    background-position: center right;
    background-repeat: no-repeat;
    position: relative;
}

/* hero - right polygon */

.hero::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 20%;
    background-color: var(--bg-color);
    background-image: url('images/hero-bg2-v-1.jpg');
    background-size: calc(100vw - 30%);
    background-position: top right;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    clip-path: polygon(100% 0, 100% 100%, 92% 100%, 92% 50%, 60% 50%, 10% 100%, 0 100%);
}

/* hero - right bright line */

.hero::before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 80%;
    width: 16.5%;
    background-color: var(--text-color);
    background-image: var(--b-gr);
    clip-path: polygon(16vw 0, 100% 0, calc(100% - 16vw) 100%, 0 100%);
    z-index: 1;
}

.hero__features {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--bg-color);
    background-image: url('images/hero-bg2-v-1.jpg');
    background-size: calc(100vw - 30%);
    background-position: center right;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    height: 100%;
    width: 65%;
    position: relative;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, calc(100% - calc(10vw / 2)) 25%, calc(100% - 10vw) 25%, calc(100% - 20vw) 75%, calc(100% - calc(20vw * .75)) 75%, calc(100% - 20vw) 100%, 0 100%);
}

/* hero - shapes container - transparent */

.hero__shapes {
    background-color: transparent;
    width: 55%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 45%;
}

/* hero - top - left green block */

.hero__shapes::before {
    content: '';
    display: block;
    position: absolute;
    left: 21%;
    top: 0px;
    height: 30%;
    width: 20%;
    background-color: var(--shapes-color);
    background-image: var(--b-gr);
    clip-path: polygon(6vw 0, 100% 0, calc(100% - 6vw) 100%, 0 100%);
    z-index: 0;
}

/* hero - bottom - right green block */

.hero__shapes::after {
    content: '';
    display: block;
    position: absolute;
    right: 23%;
    bottom: 0;
    height: 30%;
    width: 18%;
    background-color: var(--shapes-color);
    background-image: var(--b-gr);
    clip-path: polygon(6vw 0, 100% 0, calc(100% - 6vw) 100%, 0 100%);
    z-index: 0;
}

/* hero - bottom - left bright block */

.hero__features::after {
    content: '';
    display: block;
    position: absolute;
    right: 26%;
    bottom: 0;
    height: 30%;
    width: 15%;
    background-color: var(--text-color);
    background-image: var(--b-gr);
    clip-path: polygon(6vw 0, 100% 0, calc(100% - 6vw) 100%, 0 100%);
    z-index: 1;
}

.hero__content {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 3rem;
    position: relative;
}

.hero__content > * {
    margin: 1.5rem 0;
}

.menu__features {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 3rem 3rem 0 3rem;
    list-style: none;
}

.hero__title {
    font-family: var(--title-ff);
    font-size: var(--h1-fs);
    color: var(--title-color);
    font-weight: var(--h1-fw);
    font-style: var(--title-fst);
    text-transform: uppercase;
    line-height: 60%;
}

.hero__text {
    font-family: var(--p-ff);
    font-size: var(--p-fs);
    color: var(--text-color);
    width: 70%;
    text-align: justify;
    line-height: var(--p-lh);
}

.btn--action {
    font-weight: 700;
    background-color: rgba(1, 182, 113, 1);
}

.btn--normal {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    background-color: var(--bg-color);
}

.hero__social {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: 1%;
}

.social--text {
    font-weight: 600;
    text-transform: uppercase;
}

.social__icon {
    opacity: 60%;
    margin: 0 1rem;
    transition: opacity 300ms, transform 300ms;
}

.icon--first {
    margin: 0 1rem 0 2rem;
}

.social__icon:hover {
    opacity: 100%;
    transform: scale(1.1);
}

/* MAIN */

.main {
    background-color: var(--bg-color);
    background-image: url('images/about-bg.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    padding: 10rem 0;
    position: relative;
}

/* PROGRAM */

.program {
    position: relative;
    margin: 0 5rem 10rem 5rem;
}

.program::before {
    content: '';
    display: block;
    position: absolute;
    top: -3rem;
    left: -3rem;
    right: -3rem;
    bottom: 10%;
    background-color: transparent;
    border: 3px solid var(--text-color);
    border-radius: 10px;
    z-index: 1;
}

.program > * {
    margin: 0 0 3rem 0;
}

.program__title {
    font-family: var(--title-ff);
    color: var(--title-color);
    font-size: var(--h2-fs);
    font-weight: var(--h2-fw);
    font-style: var(--title-fst);
    text-transform: uppercase;
    line-height: var(--h2-lh);
}

.program__text {
    font-family: var(--p-ff);
    color: var(--text-color);
    font-size: var(--p-fs);
    line-height: var(--p-lh);
    text-align: justify;
}

.program__features {
    display: flex;
    width: 100%;
    margin: 0;
    position: relative;
    z-index: 1;
}

.program__panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    border-radius: 10px;
    box-shadow: 0px 0px 3px -1px var(--shadow-color);
    transition: box-shadow 300ms;
}

.program__panel:hover {
    box-shadow: 0px 3px 5px -1px var(--shadow-color);
}

.program__panel > * {
    margin: 2rem 2rem 0 2rem; 
}

.panel__title {
    font-family: var(--title-ff);
    color: var(--title-color);
    font-size: var(--h3-fs);
    font-weight: var(--h3-fw);
    font-style: var(--title-fst);
    text-transform: uppercase;
}

.panel__text {
    font-family: var(--p-ff);
    color: var(--text-color);
    font-size: .9rem;
    margin-bottom: 2rem;
    text-align: justify;
    line-height: var(--p-lh);
}

.panel--dark {
    background-color: var(--bg-color);
    background-image: var(--w-gr);
}

.panel--bright {
    background-color: var(--shapes-color);
    background-image: var(--b-gr);
}

/* ABOUT */

.about {
    display: flex;
    align-items: flex-end;
    height: 100vh;
    position: relative;
}

.about::before {
    content: '';
    display: block;
    position: absolute;
    top: 13rem;
    left: 8rem;
    right: 8rem;
    bottom: 4rem;
    background-color: transparent;
    border: 3px solid var(--text-color);
    border-radius: 10px;
    z-index: 0;
}

.about > * {
    z-index: 1;
}

.about__main {
    background-color: var(--bg-color);
    background-image: var(--w-gr);
    padding: 5rem;
    border-radius: 0 40px 40px 0;
    width: 50%;
    margin: 0 2rem 0 0;
    align-self: flex-start;
    box-shadow: 0 5px 5px -5px var(--shadow-color);
}

.about__aside {
    display: flex;
    width: 50%;
}

.about__title {
    font-family: var(--title-ff);
    color: var(--title-color);
    font-size: var(--h2-fs);
    font-weight: var(--h2-fw);
    font-style: var(--title-fst);
    text-transform: uppercase;
    line-height: var(--h2-lh);
    margin: 0 0 3rem 0;
}

.aside__title {
    font-family: var(--title-ff);
    color: var(--bg-color);
    font-size: var(--h3-fs);
    font-weight: var(--h3-fw);
    font-style: var(--title-fst);
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 2rem 0;
}

.about__text {
    font-family: var(--p-ff);
    color: var(--text-color);
    font-size: var(--p-fs);
    line-height: var(--p-lh);
    text-align: justify;
}

.aside__text {
    font-family: var(--p-ff);
    color: var(--bg-color);
    font-size: .9rem;
    font-weight: 500;
    margin-bottom: 2rem;
    text-align: justify;
    line-height: var(--p-lh);
}

.aside__panel {
    background-color: var(--shapes-color);
    background-image: var(--b-gr);
    border-radius: 40px;
    padding: 3rem;
    margin: 0 2rem 0 0;
    box-shadow: 0 5px 5px -5px var(--shadow-color);
}

/* FOOTER*/

.footer {
    height: 50vh;
    display: flex;
    background-color: var(--bg-color);
}


